# File created by /home/mauro/Work/IO-COMUNE/iocomune-backend/docker/create-constraints.py
# Constraints parsed from /home/mauro/Work/IO-COMUNE/iocomune-backend/docker/constraints.cfg
AccessControl==7.2
Acquisition==6.1
AuthEncoding==5.0
BTrees==6.1
Babel==2.16.0
Brotli==1.0.9
Chameleon==4.4.4
DateTime==5.5
Deprecated==1.2.15
DocumentTemplate==4.6
ExtensionClass==6.0
GitPython==3.1.43
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==3.0.2
Missing==5.0
MultiMapping==5.0
Paste==3.10.1
PasteDeploy==3.1.0
Persistence==5.1
Pillow==11.0.0
Plone==6.0.14
Products.BTreeFolder2==5.1
Products.CMFCore==3.6
Products.CMFDiffTool==4.0.4
Products.CMFDynamicViewFTI==7.0.2
Products.CMFEditions==4.0.4
Products.CMFPlacefulWorkflow==3.0.4
Products.CMFPlone==6.0.14
Products.CMFUid==4.2
Products.DCWorkflow==3.0
Products.DateRecurringIndex==3.0.1
Products.ExtendedPathIndex==4.0.1
Products.ExternalMethod==6.0
Products.GenericSetup==4.0
Products.MailHost==5.2
Products.MimetypesRegistry==3.0.1
Products.PDBDebugMode==2.0
Products.PlonePAS==8.0.4
Products.PluggableAuthService==3.0
Products.PluginRegistry==2.0
Products.PortalTransforms==4.1.1
Products.PrintingMailHost==1.1.7
Products.PythonScripts==5.1
Products.Sessions==5.0
Products.SiteErrorLog==6.0
Products.StandardCacheManagers==5.0
Products.ZCatalog==7.1
Products.ZMIntrospection==1.0
Products.ZopeVersionControl==4.1
Products.isurlinportal==2.0.3
Products.statusmessages==5.0.6
Products.validation==3.0.1
PyGithub==2.5.0
PyJWT==2.8.0
PyNaCl==1.5.0
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.18.0
Record==4.1
RelStorage==3.5.0
RestrictedPython==7.4
SecretStorage==3.3.3
Sphinx==8.1.3
Unidecode==1.3.8
WSGIProxy2==0.5.1
WebOb==1.8.9
WebTest==3.0.2
ZConfig==4.1
ZEO==6.0.0
ZODB==6.0
ZODB3==3.11.0
Zope==5.11.1
Zope2==4.0
ZopeUndo==6.0
alabaster==1.0.0
argcomplete==3.5.2
argh==0.31.3
arrow==1.2.3
async-generator==1.10
attrs==24.2.0
backports.cached-property==1.0.2
backports.tarfile==1.2.0
bda.cache==1.3.0
beautifulsoup4==4.12.3
bjoern==3.2.2
bleach==6.2.0
borg.localrole==3.1.11
bravado==11.0.3
bravado-core==5.17.1
build==1.2.2post1
cachecontrol==0.14.1
cached-property==2.0.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
check-manifest==0.50
click==8.1.7
click-default-group==1.2.4
cmarkgfm==2024.11.20
collective.MockMailHost==3.0.0
collective.address==1.6
collective.contentrules.mailfromfield==1.2.1
collective.exportimport==1.10
collective.feedback==1.1.5
collective.geolocationbehavior==1.7.1
collective.honeypot==2.1
collective.monkeypatcher==1.2.2
collective.purgebyid==1.2.2
collective.recipe.backup==4.2.0
collective.recipe.cmd==0.11
collective.recipe.omelette==1.1.0
collective.recipe.template==2.2
collective.recipe.vscode==0.1.9
collective.regenv==1.0.0rc1
collective.sentry==0.3.2
collective.stats==1.1.0
collective.taxonomy==3.1.5
collective.tiles.collection==2.0.0
collective.venue==4.1
collective.volto.blocksfield==2.2.0
collective.volto.cookieconsent==1.1.1
collective.volto.dropdownmenu==1.3.2
collective.volto.enhancedlinks==1.1.1
collective.volto.formsupport==3.1.5
collective.volto.gdprcookie==1.0.4
collective.volto.otp==1.0.1
collective.volto.secondarymenu==1.1.1
collective.volto.sitesettings==1.0.4
collective.volto.slimheader==1.0.2
collective.volto.socialsettings==0.2.2
collective.volto.stickyblocks==1.0.0
collective.volto.subfooter==1.1.1
collective.volto.subsites==1.5.1
collective.xmltestreport==2.0.2
collective.z3cform.datagridfield==3.0.1
colorama==0.4.6
commonmark==0.9.1
configparser==7.1.0
cryptography==44.0.0
cssselect==1.2.0
cssselect2==0.7.0
cssutils==2.11.0
dataflake.wsgi.bjoern==2.0
decorator==5.1.1
design.plone.contenttypes==6.3.2
design.plone.iocittadino==1.1.5
design.plone.ioprenoto==1.2.9
design.plone.policy==5.0.14
diazo==2.0.2
distro==1.9.0
docutils==0.21.2
emailcompat32crlf==1.0.3
et-xmlfile==1.1.0
exceptiongroup==1.2.2
experimental.gracefulblobmissing==2.0
fancycompleter==0.9.1
feedparser==6.0.11
filelock==3.16.1
five.customerize==3.0.0
five.globalrequest==99.1
five.intid==2.0.0
five.localsitemanager==4.0
fonttools==4.39.3
fqdn==1.5.1
furl==2.1.3
furo==2024.8.6
future==1.0.0
geographiclib==1.50
geopy==1.21.0
gitdb==4.0.11
grpcio-tools==1.66.2
gunicorn==23.0.0
h11==0.14.0
haufe.requestmonitoring==0.6.0
html5lib==1.1
httplib2==0.22.0
hurry.filesize==0.9
i18ndude==6.2.1
icalendar==5.0.13
idna==3.10
ijson==3.1.4
imagesize==1.4.1
importlib-metadata==8.5.0
importlib-resources==6.4.5
incremental==24.7.2
isodate==0.6.1
isoduration==20.11.0
iw.rejectanonymous==1.2.7
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.5.0
kitconcept.seo==2.0.1
legacy-cgi==2.6.1
lml==0.1.0
lockfile==0.12.2
lxml==5.3.0
lxml-html-clean==0.4.1
manuel==1.13.0
markdown-it-py==3.0.0
mdurl==0.1.2
mock==5.1.0
monotonic==1.6
more-itertools==10.5.0
mr.developer==2.0.2
msgpack==1.1.0
multipart==0.2.5
mxdev==4.0.3
natsort==8.4.0
nh3==0.2.19
node==1.2.2
node.ext.ldap==1.2
node.ext.ugm==1.1
node.ext.zodb==1.3
nt-svcutils==2.13.0
oauthlib==3.2.2
odict==1.9.0
openpyxl==3.1.2
orderedmultidict==1.0.1
outcome==1.3.0post0
overrides==7.7.0
packaging==24.2
pas.plugins.jwt==1.0a4
pas.plugins.ldap==1.8.3
passlib==1.7.4
pdbpp==0.10.3
pdfkit==1.0.0
pep440==0.1.2
pep517==0.13.1
perfmetrics==3.3.0
persistent==6.1
piexif==1.1.3
pip==24.3.1
pkginfo==1.10.0
platformdirs==4.2.0
plone.alterego==2.0.1
plone.api==2.2.4
plone.app.blocks==7.0.1
plone.app.caching==3.1.5
plone.app.content==4.1.7
plone.app.contentlisting==3.0.5
plone.app.contentmenu==3.0.6
plone.app.contentrules==5.0.5
plone.app.contenttypes==3.0.10
plone.app.customerize==2.0.1
plone.app.debugtoolbar==1.4.0
plone.app.dexterity==3.2.1
plone.app.discussion==4.1.4
plone.app.drafts==2.0.0
plone.app.event==5.2.0
plone.app.i18n==4.0.1
plone.app.intid==2.0.0
plone.app.iterate==5.0.5
plone.app.jquerytools==1.9.5
plone.app.layout==4.1.2
plone.app.linkintegrity==4.0.6
plone.app.locales==6.0.27
plone.app.lockingbehavior==2.0.1
plone.app.mosaic==3.1.5
plone.app.multilingual==7.0.5
plone.app.portlets==5.0.7
plone.app.querystring==2.1.2
plone.app.redirector==3.0.3
plone.app.registry==2.0.5
plone.app.relationfield==3.0.5
plone.app.robotframework==2.1.3
plone.app.standardtiles==3.1.4
plone.app.testing==7.1.0
plone.app.textfield==2.0.1
plone.app.theming==5.0.11
plone.app.tiles==4.0.1
plone.app.upgrade==3.1.8
plone.app.users==3.0.9
plone.app.uuid==2.2.3
plone.app.versioningbehavior==2.0.3
plone.app.viewletmanager==4.0.3
plone.app.vocabularies==5.0.5
plone.app.widgets==5.0.1
plone.app.workflow==5.0.3
plone.app.z3cform==4.3.2
plone.autoform==2.0.2
plone.autoinclude==1.0.1
plone.base==1.4.1
plone.batching==2.0.6
plone.behavior==2.0.1
plone.browserlayer==3.0.2
plone.cachepurging==3.0.2
plone.caching==2.0.1
plone.contentrules==3.0.1
plone.dexterity==3.0.6
plone.event==2.0.2
plone.folder==4.0.1
plone.formwidget.autocomplete==1.4.1
plone.formwidget.contenttree==1.2.0
plone.formwidget.geolocation==2.2.1
plone.formwidget.namedfile==3.1.0
plone.formwidget.recurrence==3.0.4
plone.i18n==5.0.2
plone.indexer==2.0.1
plone.intelligenttext==4.0.1
plone.jsonserializer==0.9.11
plone.keyring==4.0.2
plone.locking==3.0.1
plone.memoize==3.0.2
plone.namedfile==6.4.0
plone.outputfilters==5.0.4
plone.patternslib==1.3.0
plone.portlet.collection==4.0.3
plone.portlet.static==4.0.3
plone.portlets==3.0.1
plone.protect==5.0.3
plone.recipe.command==1.1
plone.recipe.haproxy==2.0.0
plone.recipe.varnish==6.0.13
plone.recipe.zeoserver==2.0.3
plone.recipe.zope2instance==7.1.2
plone.registry==2.0.1
plone.releaser==2.3.2
plone.reload==4.0.0
plone.resource==3.0.2
plone.resourceeditor==4.0.1
plone.rest==4.1.3
plone.restapi==9.10.0
plone.rfc822==3.0.1
plone.scale==4.1.3
plone.schema==2.0.1
plone.schemaeditor==4.0.8
plone.session==4.0.4
plone.staticresources==2.1.17
plone.stringinterp==2.0.2
plone.subrequest==2.0.5
plone.supermodel==2.0.4
plone.testing==9.0.3
plone.theme==4.0.2
plone.tiles==2.3.1
plone.transformchain==3.0.1
plone.uuid==2.0.1
plone.versioncheck==1.8.2
plone.volto==4.4.4
plone.z3cform==2.0.3
plonetheme.barceloneta==3.1.11
plumber==1.7
progress==1.6
prompt-toolkit==3.0.48
psutil==5.9.5
psycopg2==2.9.6
py==1.11.0
pyOpenSSL==24.3.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycountry==19.8.18
pycparser==2.22
pydyf==0.6.0
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.6
pyexcel-ods3==0.6.1
pyexcel-xlsx==0.6.0
pyinter==0.2.0
pyotp==2.9.0
pyparsing==3.2.0
pyphen==0.14.0
pyproject-hooks==1.2.0
pyrepl==0.9.0
pyroma==4.2
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-gettext==5.0
python-ldap==3.4.3
python-memcached==1.59
pytz==2024.2
qrcode==8.0
readme-renderer==44.0
redturtle.bandi==1.4.7
redturtle.faq==1.0.2
redturtle.filesretriever==1.0.1
redturtle.pasldap==1.0.0a2
redturtle.prenotazioni==2.8.6
redturtle.rssservice==2.2.0
redturtle.unitaterritoriali==1.0.1
redturtle.volto==5.5.8
redturtle.voltoplugin.editablefooter==1.3.4
referencing==0.35.1
repoze.catalog==0.9.0
repoze.xmliter==1.0b1
requests==2.32.3
requests-file==2.0.0
requests-toolbelt==1.0.0
rer.customersatisfaction==2.2.4
rer.newsletter==3.1.1
responses==0.25.3
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3987==1.3.8
rich==13.9.4
robotframework==6.0.2
robotframework-assertion-engine==3.0.3
robotframework-browser==18.9.1
robotframework-debuglibrary==2.5.0
robotframework-lsp==1.10.1
robotframework-pythonlibcore==4.4.1
robotframework-selenium2library==3.0.0
robotframework-selenium2screenshots==0.8.1
robotframework-seleniumlibrary==6.1.3
robotframework-seleniumtestability==2.1.0
robotsuite==2.3.2
roman==4.2
rpds-py==0.22.3
seedir==0.5.0
selenium==4.9.1
sentry-sdk==2.0.0
sgmllib3k==1.0.0
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
souper==1.1.1
souper.plone==1.3.1
soupsieve==2.6
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stdlib-list==0.11.0
swagger-spec-validator==3.0.3
tempstorage==6.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.2
towncrier==24.8.0
transaction==5.0
trio==0.27.0
trio-websocket==0.11.1
trove-classifiers==2024.10.21.16
twine==5.1.1
types-PyYAML==6.0.12.10
types-toml==0.10.8.5
typing-extensions==4.12.2
uri-template==1.2.0
urllib3==2.2.3
urllib3-secure-extra==0.1.0
wadllib==2.0.0
waitress==3.0.2
watchdog==6.0.0
wcwidth==0.2.13
weasyprint==58.1
webcolors==1.13
webencodings==0.5.1
webresource==1.2
wheel==0.45.1
wmctrl==0.5
wrapt==1.17.0
wsproto==1.2.0
xidera.prenotazioni==1.0.2
yafowil==3.1.0
yafowil.bootstrap==2.0.0a2
yafowil.plone==5.0.0a2
yafowil.widget.array==1.7
yafowil.widget.dict==1.8
yafowil.yaml==2.0
z3c.caching==3.0
z3c.checkversions==2.1
z3c.dependencychecker==2.15
z3c.form==5.1
z3c.formwidget.query==2.0.0
z3c.jbot==2.0
z3c.objpath==2.0
z3c.pt==4.4
z3c.recipe.usercrontab==1.5
z3c.relationfield==2.0.0
z3c.unconfigure==2.0
z3c.zcmlhook==2.0
zExceptions==5.0
zc.lockfile==3.0.post1
zc.recipe.cmmi==3.0.0
zc.recipe.egg==2.0.7
zc.recipe.testrunner==3.1
zc.relation==2.1
zdaemon==5.1
zeep==4.2.1
zest.pocompile==2.0.0
zest.releaser==9.2.0
zestreleaser.towncrier==1.3.0
zipp==3.20.2
zodbpickle==4.1.1
zodbupdate==2.0
zodbverify==1.2.0
zope.annotation==5.0
zope.app.locales==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.componentvocabulary==2.3.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.1
zope.copy==5.0
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.index==5.2.1
zope.interface==7.1.1
zope.intid==5.0
zope.keyreference==6.0
zope.lifecycleevent==5.0
zope.location==5.0
zope.mkzeoinstance==5.0
zope.pagetemplate==5.1
zope.processlifetime==3.0
zope.proxy==6.1
zope.ptresource==5.0
zope.publisher==7.1
zope.ramcache==3.0
zope.schema==7.0.1
zope.security==7.3
zope.sendmail==6.2
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==7.0
zope.testing==5.0.1
zope.testrunner==6.6
zope.traversing==5.0
zope.viewlet==5.0
zopfli==0.2.2
