# File created by /home/runner/work/iocomune-backend/iocomune-backend/docker/create-constraints.py
# Constraints parsed from /home/runner/work/iocomune-backend/iocomune-backend/docker/constraints.cfg
accesscontrol==7.2
acquisition==6.1
alabaster==1.0.0
annotated-types==0.7.0
argcomplete==3.6.2
argh==0.31.3
arrow==1.2.3
async-generator==1.10
attrs==25.3.0
authencoding==6.0
babel==2.16.0
backports.cached-property==1.0.2
backports.tarfile==1.2.0
bda.cache==1.3.0
beaker==1.11.0
beautifulsoup4==4.12.3
bjoern==3.2.2
bleach==6.2.0
borg.localrole==3.1.11
bravado==11.0.3
bravado-core==5.17.1
brotli==1.0.9
btrees==6.1
build==1.2.2post1
cachecontrol==0.14.3
cached-property==2.0.1
certifi==2024.12.14
cffi==1.17.1
chameleon==4.4.4
charset-normalizer==3.4.1
check-manifest==0.50
click==8.1.8
click-default-group==1.2.4
cmarkgfm==2024.11.20
collective.address==1.6
collective.contentrules.mailfromfield==1.2.1
collective.exportimport==1.10
collective.feedback==1.2.0
collective.geolocationbehavior==1.7.2
collective.honeypot==2.1
collective.mockmailhost==3.0.0
collective.monkeypatcher==2.0.0
collective.purgebyid==1.2.2
collective.recipe.backup==4.2.0
collective.recipe.cmd==0.11
collective.recipe.omelette==2.0.0
collective.recipe.template==2.2
collective.recipe.vscode==0.1.9
collective.regenv==1.0.0rc1
collective.sentry==0.3.2
collective.stats==1.1.0
collective.taskqueue2==1.0a1
collective.taxonomy==3.1.5
collective.tiles.collection==2.0.0
collective.venue==4.1
collective.volto.blocksfield==2.2.0
collective.volto.cookieconsent==1.1.1
collective.volto.dropdownmenu==1.3.2
collective.volto.enhancedlinks==1.1.1
collective.volto.formsupport==3.2.3
collective.volto.gdprcookie==1.0.4
collective.volto.otp==1.0.1
collective.volto.secondarymenu==1.1.1
collective.volto.sitesettings==1.0.5
collective.volto.slimheader==1.0.2
collective.volto.socialsettings==0.2.2
collective.volto.stickyblocks==1.0.0
collective.volto.subfooter==1.1.1
collective.volto.subsites==1.5.1
collective.xmltestreport==2.0.2
collective.z3cform.datagridfield==3.0.1
colorama==0.4.6
commonmark==0.9.1
configparser==7.2.0
coverage==7.8.2
cryptography==45.0.4
cssselect==1.3.0
cssselect2==0.7.0
cssutils==2.11.0
dataflake.wsgi.bjoern==2.0
datetime==5.5
decorator==5.2.1
defusedxml==0.7.1
deprecated==1.2.18
design.plone.contenttypes==6.3.6
design.plone.iocittadino==1.2.5
design.plone.ioprenoto==1.2.10
design.plone.policy==5.0.16
diazo==2.0.3
distro==1.9.0
documenttemplate==4.6
docutils==0.21.2
emailcompat32crlf==1.0.3
et-xmlfile==1.1.0
exceptiongroup==1.3.0
experimental.gracefulblobmissing==2.0
experimental.noacquisition==1.0.0b10
extensionclass==6.0
fancycompleter==0.11.1
feedparser==6.0.11
filelock==3.18.0
five.customerize==4.0
five.globalrequest==99.1
five.intid==3.0.1
five.localsitemanager==5.0
fonttools==4.56.0
fqdn==1.5.1
furl==2.1.3
furo==2024.8.6
future==1.0.0
geographiclib==1.50
geopy==1.21.0
gitdb==4.0.12
gitpython==3.1.44
grpcio-tools==1.66.2
gunicorn==23.0.0
h11==0.16.0
haufe.requestmonitoring==0.6.0
html5lib==1.1
httplib2==0.22.0
huey==2.5.3
hurry.filesize==0.9
i18ndude==6.2.1
icalendar==6.3.1
id==1.5.0
idna==3.10
ijson==3.1.4
imagesize==1.4.1
importlib-metadata==8.5.0
importlib-resources==6.5.2
incremental==24.7.2
iniconfig==2.1.0
iocittadino.pagamenti.base==1.0.9
iocittadino.pagamenti.nextstep==1.0.3
iocittadino.protocollo.maggioli==1.0.13
iocittadino.protocollo.maggiolitest==1.0.2
isodate==0.6.1
isoduration==20.11.0
iw.rejectanonymous==1.2.7
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
jinja2==3.1.5
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keyring==25.6.0
kitconcept.seo==2.0.1
legacy-cgi==2.6.2
lml==0.1.0
lockfile==0.12.2
lxml==5.4.0
lxml-html-clean==0.4.2
mako==1.1.5
manuel==1.13.0
markdown==3.8
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
missing==5.0
mock==5.2.0
monotonic==1.6
more-itertools==10.6.0
mr.developer==2.0.3
msgpack==1.1.0
multimapping==5.0
multipart==1.2.1
mxdev==4.1.0
natsort==8.4.0
nh3==0.2.21
node==1.2.2
node.ext.ldap==1.2
node.ext.ugm==1.1
node.ext.zodb==1.3
nt-svcutils==2.13.0
oauthlib==3.2.2
odict==1.9.0
oic==1.7.0
openpyxl==3.1.2
orderedmultidict==1.0.1
outcome==1.3.0post0
overrides==7.7.0
packaging==25.0
pas.plugins.jwt==1.0.2
pas.plugins.ldap==1.8.3
pas.plugins.oidc==2.0.0b4
passlib==1.7.4
paste==3.10.1
pastedeploy==3.1.0
pdbpp==0.11.6
pdfkit==1.0.0
pep440==0.1.2
pep517==0.13.1
perfmetrics==3.3.0
persistence==5.1
persistent==6.1
piexif==1.1.3
pillow==11.2.1
pip==25.1.1
platformdirs==4.2.0
plone==6.1.2
plone.alterego==2.0.1
plone.api==2.5.2
plone.app.blocks==7.0.1
plone.app.caching==4.1.0
plone.app.content==4.1.10
plone.app.contentlisting==3.0.5
plone.app.contentmenu==3.0.7
plone.app.contentrules==5.0.7
plone.app.contenttypes==4.0.5
plone.app.customerize==2.0.2
plone.app.debugtoolbar==1.4.0
plone.app.dexterity==4.1.0
plone.app.discussion==5.2.0
plone.app.drafts==2.0.0
plone.app.event==5.2.2
plone.app.i18n==4.0.1
plone.app.intid==2.0.0
plone.app.iterate==6.2.0
plone.app.jquerytools==1.9.5
plone.app.layout==5.0.2
plone.app.linkintegrity==4.0.6
plone.app.locales==6.0.31
plone.app.lockingbehavior==2.0.2
plone.app.mosaic==3.3.0
plone.app.multilingual==8.3.0
plone.app.portlets==6.0.2
plone.app.querystring==2.1.3
plone.app.redirector==3.0.4
plone.app.registry==2.0.6
plone.app.relationfield==4.0.2
plone.app.robotframework==2.1.5
plone.app.standardtiles==3.2.2
plone.app.testing==7.1.1
plone.app.textfield==3.0.0
plone.app.theming==5.0.13
plone.app.tiles==4.0.2
plone.app.upgrade==3.2.2
plone.app.users==3.1.3
plone.app.uuid==2.2.3
plone.app.versioningbehavior==2.0.4
plone.app.viewletmanager==4.0.4
plone.app.vocabularies==6.0.2
plone.app.widgets==5.0.2
plone.app.workflow==5.0.4
plone.app.z3cform==4.7.8
plone.autoform==2.0.3
plone.autoinclude==2.0.3
plone.base==3.1.0
plone.batching==2.0.6
plone.behavior==2.0.2
plone.browserlayer==3.0.2
plone.cachepurging==3.0.2
plone.caching==2.0.1
plone.classicui==1.0.1
plone.contentrules==3.0.1
plone.dexterity==3.0.7
plone.distribution==3.2.0
plone.event==2.0.2
plone.exportimport==1.1.0
plone.folder==4.0.1
plone.formwidget.autocomplete==1.5.0
plone.formwidget.contenttree==1.2.0
plone.formwidget.geolocation==2.2.1
plone.formwidget.namedfile==3.1.1
plone.formwidget.recurrence==3.0.5
plone.i18n==5.1.0
plone.indexer==2.0.1
plone.intelligenttext==4.0.1
plone.jsonserializer==0.9.11
plone.keyring==4.0.2
plone.locking==3.0.2
plone.memoize==3.0.3
plone.namedfile==7.2.0
plone.outputfilters==5.0.4
plone.patternslib==1.3.0
plone.portlet.collection==4.0.4
plone.portlet.static==4.0.4
plone.portlets==3.0.2
plone.protect==5.0.5
plone.recipe.command==1.1
plone.recipe.haproxy==2.0.0
plone.recipe.varnish==6.0.13
plone.recipe.zeoserver==2.0.3
plone.recipe.zope2instance==8.0.1
plone.registry==2.0.1
plone.releaser==2.5.1
plone.reload==4.0.0
plone.resource==3.0.2
plone.resourceeditor==4.0.1
plone.rest==5.0.0
plone.restapi==9.15.1
plone.rfc822==3.0.1
plone.scale==4.2.0
plone.schema==2.0.2
plone.schemaeditor==4.0.11
plone.session==4.0.5
plone.staticresources==2.3.0
plone.stringinterp==2.0.2
plone.subrequest==2.0.5
plone.supermodel==2.0.4
plone.testing==9.0.6
plone.theme==4.0.3
plone.tiles==3.0.1
plone.transformchain==3.0.1
plone.uuid==2.0.1
plone.versioncheck==1.8.2
plone.volto==5.2.0
plone.z3cform==2.0.5
plonetheme.barceloneta==3.3.0
pluggy==1.6.0
plumber==1.7
products.btreefolder2==5.1
products.cmfcore==3.7
products.cmfdifftool==4.0.4
products.cmfdynamicviewfti==7.0.2
products.cmfeditions==4.0.5
products.cmfplacefulworkflow==3.0.5
products.cmfplone==6.1.2
products.cmfuid==4.2
products.daterecurringindex==3.0.1
products.dcworkflow==3.0
products.extendedpathindex==4.0.1
products.externalmethod==6.0
products.genericsetup==5.0.0
products.isurlinportal==3.0.0
products.mailhost==6.0
products.mimetypesregistry==3.0.1
products.pdbdebugmode==2.1
products.plonepas==8.0.5
products.pluggableauthservice==3.0
products.pluginregistry==2.0
products.portaltransforms==4.1.1
products.printingmailhost==1.1.8
products.pythonscripts==5.1
products.sessions==6.0
products.siteerrorlog==6.0
products.standardcachemanagers==5.0
products.statusmessages==5.0.6
products.validation==3.0.0
products.zcatalog==7.1
products.zmintrospection==1.0
products.zopeversioncontrol==4.1
progress==1.6
prompt-toolkit==3.0.51
psutil==5.9.5
psycopg2==2.9.6
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycountry==19.8.18
pycparser==2.22
pycryptodomex==3.11.0
pydantic==2.10.2
pydantic-settings==2.6.1
pydyf==0.6.0
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.6
pyexcel-ods3==0.6.1
pyexcel-xlsx==0.6.0
pygithub==2.6.1
pygments==2.19.1
pyinter==0.2.0
pyjwkest==1.4.2
pyjwt==2.10.1
pynacl==1.5.0
pyopenssl==25.1.0
pyotp==2.9.0
pyparsing==3.2.3
pyphen==0.14.0
pyproject-hooks==1.2.0
pyrepl==0.11.3.post1
pyroma==4.2
pyrsistent==0.20.0
pysocks==1.7.1
pytest==8.4.0
pytest-cov==6.2.1
pytest-plone==1.0.0a2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-gettext==5.0
python-ldap==3.4.3
python-memcached==1.59
pytz==2024.2
pyyaml==6.0.1
qrcode==8.0
readme-renderer==44.0
record==4.1
redturtle.bandi==1.6.0
redturtle.faq==1.0.2
redturtle.filesretriever==1.0.3
redturtle.pasldap==1.0.0a2
redturtle.prenotazioni==2.8.8
redturtle.rssservice==2.2.0
redturtle.unitaterritoriali==1.0.1
redturtle.volto==5.5.12
redturtle.voltoplugin.editablefooter==1.3.4
referencing==0.36.2
relstorage==3.5.0
repoze.catalog==0.9.0
repoze.xmliter==1.0b1
requests==2.32.3
requests-file==2.0.0
requests-toolbelt==1.0.0
rer.customersatisfaction==2.2.4
rer.newsletter==3.1.1
responses==0.25.7
restrictedpython==8.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3987==1.3.8
rich==14.0.0
robotframework==6.0.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.3.1
robotframework-debuglibrary==2.5.0
robotframework-lsp==1.10.1
robotframework-pythonlibcore==4.4.1
robotframework-selenium2library==3.0.0
robotframework-selenium2screenshots==0.8.1
robotframework-seleniumlibrary==6.1.3
robotframework-seleniumtestability==2.1.0
robotsuite==2.3.2
roman==5.0
rpds-py==0.22.3
secretstorage==3.3.3
seedir==0.5.0
selenium==4.9.1
sentry-sdk==2.0.0
sgmllib3k==1.0.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
souper==1.1.1
souper.plone==1.3.1
soupsieve==2.6
sphinx==8.1.3
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stdlib-list==0.11.1
swagger-spec-validator==3.0.3
tempstorage==6.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.2.1
towncrier==24.8.0
transaction==5.0
trio==0.30.0
trio-websocket==0.12.2
trove-classifiers==2025.5.9.12
twine==6.1.0
types-pyyaml==6.0.12.10
types-toml==0.10.8.5
typing-extensions==4.12.2
tzdata==2025.2
unidecode==1.4.0
uri-template==1.2.0
urllib3==2.3.0
urllib3-secure-extra==0.1.0
wadllib==2.0.0
waitress==3.0.2
watchdog==6.0.0
wcwidth==0.2.13
weasyprint==58.1
webcolors==1.13
webencodings==0.5.1
webob==1.8.9
webresource==1.2
webtest==3.0.3
wheel==0.46.1
wmctrl==0.5
wrapt==1.17.2
wsgiproxy2==0.5.1
wsproto==1.2.0
xidera.prenotazioni==1.0.2
yafowil==3.1.0
yafowil.bootstrap==2.0.0a2
yafowil.plone==5.0.0a2
yafowil.widget.array==1.7
yafowil.widget.dict==1.8
yafowil.yaml==2.0
z3c.caching==4.0
z3c.checkversions==3.0
z3c.dependencychecker==2.15
z3c.form==6.0
z3c.formwidget.query==3.0
z3c.jbot==3.0
z3c.objpath==3.0
z3c.pt==5.1
z3c.recipe.usercrontab==1.5
z3c.relationfield==3.0
z3c.unconfigure==3.0
z3c.zcmlhook==3.0
zc.lockfile==3.0.post1
zc.recipe.cmmi==3.0.0
zc.recipe.egg==3.0.0
zc.recipe.testrunner==3.2
zc.relation==2.1
zconfig==4.2
zdaemon==5.2
zeep==4.2.1
zeo==6.0.0
zest.pocompile==2.0.0
zest.releaser==9.6.2
zestreleaser.towncrier==1.3.0
zexceptions==5.0
zipp==3.21.0
zodb==6.0.1
zodb3==3.11.0
zodbpickle==4.1.1
zodbupdate==2.0
zodbverify==1.2.0
zope==5.13
zope.annotation==5.0
zope.app.locales==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.componentvocabulary==3.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.1
zope.copy==5.0
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.index==5.2.1
zope.interface==7.2
zope.intid==5.1
zope.keyreference==6.1
zope.lifecycleevent==5.0
zope.location==5.0
zope.mkzeoinstance==5.0
zope.pagetemplate==5.1
zope.processlifetime==3.0
zope.proxy==6.1
zope.ptresource==5.0
zope.publisher==7.3
zope.pytestlayer==8.3
zope.ramcache==3.1
zope.schema==7.0.1
zope.security==7.3
zope.sendmail==6.2
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==7.0
zope.testing==5.0.1
zope.testrunner==7.2
zope.traversing==5.0
zope.viewlet==5.0
zope2==4.0
zopeundo==6.0
zopfli==0.2.2
