
#
# THIS IS FOR DEVELOPMENT, DO NOT USE AS IS IN PRODUCTION
#

[buildout]
# https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
# https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
extends =
    https://raw.githubusercontent.com/plone/buildout.coredev/5.2.10/buildout.cfg
    versions.cfg
parts +=
    site
    omelette

[instance]
eggs +=
    design.plone.policy
    collective.upgrade

[site]
recipe = collective.recipe.plonesite
site-id = Plone
default-language = it
profiles-initial =
    plone.app.caching:default
    design.plone.policy:default
upgrade-portal = true
upgrade-all-profiles = true

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
redturtle.volto = git https://github.com/redturtle/redturtle.volto pushurl=git@github.com:redturtle/redturtle.volto

[versions]
collective.recipe.plonesite = 1.12.0
collective.upgrade = 1.7
