
#
# THIS IS FOR DEVELOPMENT, DO NOT USE AS IS IN PRODUCTION
#
# !!!
# !!! ogni volta che si esegue il buildout, la recipe 'site' fa tutti gli upgrade
# !!! step del portale e dei prodotti aggiuntivi, questo è comodo per lo sviluppo
# !!! ma non per staging e produzione
# !!!
#
# Parti comuni a tutte le linee Plone: non estende nulla e non contiene [versions]
# (i pin stanno in versions/*.cfg e plone6X.cfg). Usare development60.cfg /
# development61.cfg / development62.cfg, che lo includono nell'ordine corretto.

[buildout]
extends = versions/test.cfg
parts +=
    site
    omelette
    test-full
allow-picked-versions = false
# XXX: se si aggiungono i test di design.* a bin/test (quello usato dalla CI, via
#      test-eggs) si rompono quelli di plone. Confermato finora:
#      - plone.portlets / plone.app.portlets: passano isolati ma falliscono nella run
#        completa (inquinamento di stato tra test, non individuata la causa esatta)
#      - Products.CMFPlone test_absolutize_path: rottura reale e voluta, causata dalla
#        patch di redturtle.volto ad absolutize_path_patched
#      - Products.CMFPlone test_usergroups_membership_many_users: stesso sintomo dei
#        portlet (passa isolato, fallisce in run completa), causa non confermata
#      - un ulteriore inquinamento di stato (probabilmente locale/encoding: una libreria
#        cambia la C locale e non la ripristina) fa fallire il caricamento ZCML di
#        redturtle.prenotazioni con UnicodeDecodeError nella run completa; non riproduce
#        nella test suite standalone di redturtle.prenotazioni, quindi non è un bug loro
#      togliere gli egg col -= del buildout non basta perché restano comunque nel
#      working-set (dipendenze transitive di altri egg), quindi il test runner continua
#      a scoprirne i test. Per questo NON si aggiungono più a test-eggs/[test] (quello
#      della CI): per lavorare sui test di design.* (e sistemare quanto sopra) si usa
#      bin/test-full (parte [test-full] sotto), che non è usato dalla CI.

[test-full]
<= test
eggs =
    ${test:eggs}
    design.plone.policy[test]
    design.plone.contenttypes[test]
    design.plone.ioprenoto[test]

[instance]
eggs +=
    collective.upgrade
    design.plone.policy
    design.plone.contenttypes
# relstorage qui non è usato ma viene testata comunque il recupero degli egg
# TODO: l'immagine ha dei prerequisti (libpsql, python-dev, ... per ora lasciamo senza)
#    relstorage[postgresql]

[site]
recipe = collective.recipe.plonesite
site-id = Plone
default-language = it
profiles-initial =
    plone.app.caching:default
    design.plone.policy:default
upgrade-portal = true
upgrade-all-profiles = true

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
