
#
# THIS IS FOR DEVELOPMENT, DO NOT USE AS IS IN PRODUCTION
# 
# !!! 
# !!! ogni volta che si esegue il buildout, la recipe 'site' fa tutti gli upgrade
# !!! step del portale e dei prodotti aggiuntivi, questo è comodo per lo sviluppo
# !!! ma non per staging e produzione
# !!! 
#

[buildout]
extends =
    https://raw.githubusercontent.com/plone/buildout.coredev/6.0.3/buildout.cfg
    versions.cfg
parts +=
    site
    omelette
allow-picked-versions = false

[instance]
eggs +=
    design.plone.policy
    collective.upgrade

[site]
recipe = collective.recipe.plonesite
site-id = Plone
default-language = it
profiles-initial =
    plone.app.caching:default
    design.plone.policy:default
upgrade-portal = true
upgrade-all-profiles = true

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[versions]
collective.recipe.plonesite = 1.12.0
collective.upgrade = 1.7
