# Alias di compatibilità: punta alla linea Plone di default.
#
# I buildout esistenti che fanno
#     extends = https://raw.githubusercontent.com/RedTurtle/iocomune-backend/<tag>/versions.cfg
# continuano a funzionare senza modifiche. I progetti nuovi estendano direttamente il file
# della linea Plone che usano: plone60.cfg, plone61.cfg oppure plone62.cfg.

[buildout]
extends = plone60.cfg
