# Impostazioni comuni a tutte le linee Plone.
# Incluso da plone60.cfg / plone61.cfg / plone62.cfg (e quindi anche dall'alias versions.cfg).

[iocomune]
version = 20260812-01

#[config]
#maxupload = 120MB

# workaround per https://github.com/plone/Products.CMFPlone/issues/3848
#[instance-settings]
#zope-conf-additional =
#  <dos_protection>
#    form-memory-limit ${config:maxupload}
#  </dos_protection>

[versions]
# security
py = 1.11.0
