# Infrastruttura (storage, autenticazione, wsgi, recipe di buildout, tooling):
# vale per tutte le linee Plone.

[versions]
# souper
souper.plone = 1.3.1
souper = 1.1.1
repoze.catalog = 0.9.0
zope.index = 5.2.1
node.ext.zodb = 1.3
plumber = 1.7

# dev
Products.ZMIntrospection = 1.3
experimental.gracefulblobmissing = 2.0
collective.recipe.plonesite = 1.12.0
collective.upgrade = 1.7
# -- aggiunge subpath per monorepo fe+be
mr.developer = 2.1.0

# other
emailcompat32crlf = 1.0.3
collective.instancebehavior = 0.5
redturtle.auditlog = 1.0.0

# wsgi
dataflake.wsgi.bjoern = 2.2
# apt install libev-dev
# yum install libev-devel
bjoern = 3.2.2

# Relstorage
RelStorage = 4.2.0
psycopg2 = 2.9.12
perfmetrics = 4.2.0

# LDAP
redturtle.pasldap = 1.0.0a2
bda.cache = 1.3.0
five.globalrequest = 99.1
node = 1.2.2
node.ext.ldap = 1.2
node.ext.ugm = 1.1
odict = 1.9.0
pas.plugins.ldap = 1.8.3
passlib = 1.7.4
pyasn1 = 0.5.0
pyasn1-modules = 0.3.0
python-ldap = 3.4.3
python-memcached = 1.59
yafowil = 3.1.0
yafowil.bootstrap = 2.0.0a2
yafowil.plone = 5.0.0a2
yafowil.widget.array = 1.7
yafowil.widget.dict = 1.8
yafowil.yaml = 2.0

# buildout
plone.recipe.haproxy = 2.0.0
z3c.recipe.usercrontab = 1.5
collective.recipe.backup = 4.2.0
zc.recipe.cmmi = 3.0.0
plone.recipe.varnish = 6.0.13
collective.recipe.template = 2.2
collective.recipe.cmd = 0.11
experimental.noacquisition = 1.0.0b10

# oidc
pas.plugins.oidc = 2.0.0b4
oic = 1.7.0
pydantic-settings = 2.6.1
pydantic = 2.10.2
annotated-types = 0.7.0
defusedxml = 0.7.1
Beaker = 1.11.0
Mako = 1.1.5
pyjwkest = 1.4.2
pycryptodomex = 3.11.0

# docxtemplate
python-docx = 1.1.2
docxtpl = 0.20.0
docxcompose = 1.4.0
