# Prodotti io-cittadino (istanze, protocollo, pagamenti, notifiche App IO):
# valgono per tutte le linee Plone.

[versions]
# io-cittadino
design.plone.iocittadino = 1.3.4
Brotli = 1.0.9
cssselect2 = 0.7.0
fonttools = 4.56.0
html5lib = 1.1
isodate = 0.6.1
pdfkit = 1.0.0
platformdirs = 4.2.0
pydyf = 0.6.0
pyphen = 0.14.0
redturtle.unitaterritoriali = 1.0.1
requests-file = 2.0.0
tinycss2 = 1.2.1
weasyprint = 58.1
webencodings = 0.5.1
zeep = 4.2.1
zopfli = 0.2.2
defusedcsv = 3.0.0

# protocollo
iocittadino.protocollo.maggioli = 1.0.20
iocittadino.protocollo.maggiolitest = 1.0.2

# pagamenti
iocittadino.pagamenti.base = 1.0.11
iocittadino.pagamenti.nextstep = 1.0.3
collective.taskqueue2 = 1.0a1
huey = 2.5.3

# APP IO (bravado)
arrow = 1.2.3
bravado = 11.0.3
bravado-core = 5.17.1
fqdn = 1.5.1
isoduration = 20.11.0
jsonpointer = 2.3
jsonref = 1.1.0
monotonic = 1.6
rfc3987 = 1.3.8
rfc3339-validator = 0.1.4
swagger-spec-validator = 3.0.3
uri-template = 1.2.0
webcolors = 1.13
qrcode = 8.0
