# Prodotti io-prenoto: valgono per tutte le linee Plone.

[versions]
# io-prenoto
design.plone.ioprenoto = 1.2.10
redturtle.prenotazioni = 2.8.8
pas.plugins.jwt = 1.0.3
pyexcel-ods3 = 0.6.1
pyexcel-ezodf = 0.3.4
pyexcel-io = 0.6.6
pyexcel-xlsx = 0.6.0
lml = 0.1.0
pyinter = 0.2.0
collective.contentrules.mailfromfield = 1.2.1
