# Pacchetti volutamente non pinnati: la sintassi "pkg =" (valore vuoto) rimuove il pin.
# Va incluso PER ULTIMO nei plone6X.cfg, altrimenti i pin delle release Plone lo sovrascrivono.

[versions]
# do not fix these (?)
setuptools =
zc.buildout =
